<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bty.blog.dao.RecordMapper">
    <insert id="insertRecordCollection">
        <if test="collectionIdList.size>0">
            insert into record_collection (cid,collection_id) values
            <foreach collection="collectionIdList" item="collectionId" separator="),(" open="(" close=")">
                #{cid},#{collectionId}
            </foreach>
        </if>
    </insert>
    <update id="editRecord">
        update record
        set title=#{title},
            description=#{description}
        where cid = #{cid}
    </update>

    <delete id="deleteRecordByCid">
        delete
        from record
        where cid = #{cid}
    </delete>
    <delete id="deleteRecordCollectionByCid">
        delete
        from record_collection
        where cid = #{cid}
    </delete>


    <select id="selectCollectionList" resultType="com.bty.blog.entity.vo.CollectionVO">
        select id, name
        from collection
    </select>

    <select id="selectRecordList" resultType="com.bty.blog.entity.Record">
        select cid, cover_cid, type, title, description, created
        from record
        order by created desc
    </select>

    <select id="selectRecordListByCollectionId" resultType="com.bty.blog.entity.Record">
        select rc.cid, r.cover_cid, r.type, r.title, r.description, r.created
        from record_collection rc
                 left join record r on r.cid = rc.cid
        where rc.collection_id = #{collectionId}
        order by r.created desc
    </select>
</mapper>
